<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tilas.mapper.ClazzMapper">
    <insert id="save">
        INSERT INTO clazz(name,room,begin_date,end_date,master_id,subject,create_time,update_time)
        VALUES(#{name},#{room},#{beginDate},#{endDate},#{masterId},#{subject},#{createTime},#{updateTime})
    </insert>
    <update id="update">
        UPDATE clazz
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="room != null">
                room = #{room},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="masterId != null">
                master_id = #{masterId},
            </if>
        </set>
    </update>
    <delete id="deleteById">
        DELETE FROM clazz WHERE id = #{id}
    </delete>

    <select id="list" resultType="com.example.tilas.pojo.Clazz">
        SELECT
        c.id,
        c.name,
        c.room,
        c.begin_date,
        c.end_date,
        c.master_id,
        c.subject,
        c.create_time,
        c.update_time,
        e.name AS master_name
        FROM clazz c left outer join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name!=''">
                c.name LIKE concat('%',#{name},'%')
            </if>
            <if test="begin != null">
                AND c.begin_date >= #{begin}
            </if>
            <if test="end != null">
                AND c.end_date &lt;= #{end}
            </if>
        </where>
    </select>
    <select id="getById" resultType="com.example.tilas.pojo.Clazz">
        SELECT
            c.id,
            c.name,
            c.room,
            c.begin_date,
            c.end_date,
            c.master_id,
            c.subject,
            c.create_time,
            c.update_time,
            e.name AS master_name
        FROM clazz c left outer join emp e on c.master_id = e.id
        WHERE c.id = #{id}
    </select>
</mapper>
