<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tilas.mapper.EmpExprMapper">

    <insert id="saveBatch">
        insert into emp_expr (emp_id,begin,end,company,job) values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>

    <delete id="deleteByIds">
        delete from emp_expr where emp_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        <foreach collection="exprList" item="expr">
            update emp_expr set company = #{company}, job = #{job}, begin = #{begin}, end = #{end}
            where id=#{id}
        </foreach>
    </update>
</mapper>